@import "~src/scss/variables";

.logo {
  height: 25px;
  margin-right: 20px;
}

mat-toolbar {

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-left: 10px;
  }
}

.timer-container {
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: table;
  position: fixed;
  background-color: rgba(210, 210, 210, 0.8);

  .time {
    font-size: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: $black;
    font-weight: bolder;

    span {

      &.last-5-seconds {
        animation: blink 1s linear;
        animation-iteration-count: infinite;
      }
    }
  }
}

.content-wrapper {
  width: 60vw;
  padding: 50px;
  margin-left: 20vw;
  background-color: white;
  box-shadow: 2px 4px 4px #d2d2d2;
}

@keyframes blink {
  0% { font-size: 200px; }
  50% { font-size: 150px;  color: red; }
  100% { font-size: 200px; }
}
