<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      class="logo"
      src="../assets/img/akelius_logo.png">
    <span>Polling Bot</span>
    <span class="spacer"></span>
    <button
      color="basic"
      mat-raised-button
      (click)="onStartTimerClick()">
      <mat-icon>timer</mat-icon>
      <span>timer</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div
  class="timer-container"
  *ngIf="timerRunning">
  <div class="time">
    <span [ngClass]="{'last-5-seconds': time<5}">{{ time }}</span>
  </div>
</div>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
