<div class="header">
  <mat-form-field class="search-bar">
    <input
      matInput
      type="text"
      [formControl]="tagSearch"
      placeholder="search #tag">
    <mat-icon
      matSuffix
      (click)="onCloseClick()">
      close
    </mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      [formControl]="correctAnswer"
      placeholder="correct answer">
    <mat-icon
      matSuffix
      (click)="onClearCorrectAnswer()">
      close
    </mat-icon>
  </mat-form-field>
  <button
    matSuffix
    color="primary"
    mat-raised-button
    (click)="onChartsClick()">
    <mat-icon>bar_chart</mat-icon>
    <span>stats</span>
  </button>
</div>
<div class="toot-cards-container">
  <mat-card
    class="toot-card"
    (click)="onTootCardClick(toot)"
    *ngFor="let toot of toots">
    <mat-card-header>
      <div
        mat-card-avatar>
        <img
          class="missing-avatar"
          [src]="toot?.account?.avatar">
      </div>
      <mat-card-title>
        {{ toot?.account?.display_name || toot?.account?.acct }}
      </mat-card-title>
      <mat-card-subtitle>{{ '@' + toot?.account?.acct }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="toot.content"></p>
      <div *ngIf="toot?.media_attachments.length">
        <img
          class="attachment-image"
          *ngFor="let media of toot?.media_attachments"
          [src]="media.url"
          >
      </div>
    </mat-card-content>
    <mat-card-actions>
      {{ toot?.account?.created_at | date:'hh:mm, dd MMM, yyyy' }}
    </mat-card-actions>
  </mat-card>
</div>
