@import "~src/scss/variables";

:host {

  .header {
    border-bottom: 1px solid $grey;

    mat-form-field {
      width: 30%;
      margin-right: 20px;
      display: inline-block;
    }

    button {
      float: right;
    }
  }

  .toot-cards-container {
    width: 100%;
    flex-flow: row wrap;
    display: inline-flex;

    .toot-card {
      margin: 20px;
      flex-basis: 40%;
      vertical-align: middle;

      .missing-avatar {
        width: 48px;
        height: 48px;
        border-radius: 5px;
      }

      mat-card-content {
        max-width: 95%;
        font-size: 20px;
        font-style: italic;
        white-space: normal;
        word-break: break-all;

        ::ng-deep {

          a {
            color: $primary;
            text-decoration: none;
          }
        }

        .attachment-image {
          width: 400px;
          height: 300px;
        }
      }
    }
  }
}
